<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Codeforces Compare Tool</title>
	<style type="text/css">
	#toast-container {
		top: auto !important;
		right: auto !important;
		bottom: 10%;
		left:7%;  
	}
	</style>
</head>
<body>
	<div class="row" style="width:50%;margin: 0 auto;">
		<h3 align="center">Codeforces Comparison Tool</h3><br>
		<form class="col s12" action="/compare" method="POST">
			<div class="row">
				<div class="col s6">
					<input placeholder="Handle 1" type="text" name="user1" id="argument1" required></input>
				</div>
				<div class="col s6">
					<input placeholder="Handle 2" type="text" name="user2" id="argument2" required></input>
				</div>
			</div>
			<center>
				<div class="row">
					<input class="btn" type="submit" name="op" value="Submit" id="op">	
				</div>
			</center>
		</form>
	</div>
	<script type="text/javascript">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		Materialize.toast('{{ message }}',5000,'rounded')
		{% endfor %}
		{% endif %}
		{% endwith %}

	</script>
</body>
</html>